@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




:root {
    --primary: #8E9E84;
}

.messiri {
    font-family: El Messiri;
}

body {
    scroll-behavior: smooth;
}

* {

    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1250px;
}

.search-input {
    width: 500px;
    height: 40px;
}

.search-input-p {
    width: 295px;
    height: 40px;
}

.search-input-p .ant-input-prefix {
    background-color: transparent;
}

.search-input .ant-input-prefix {
    background-color: transparent;
}


a:hover {
    @apply text-primary;
}



.animation-fade-in {
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    -ms-animation: fadeIn 0.5s ease-in-out;
    animation-duration: 0.5s;
}

.review .swiper-slide {
    max-width: 1000px;
}




.swiper-nav-btns button:hover {
    @apply text-primary;
    cursor: pointer;
}

.ant-otp {
    width: 100%;
}

.ant-otp input {
    height: 50px;
    outline: none;
}



.contact .ant-form-item label {
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn-primary {
    @apply border-primary border text-primary px-5 py-2 rounded-lg;
}

.btn-primary-active {
    @apply border bg-primary text-white px-5 py-2 rounded-lg;
}

.btn-primary:hover {
    @apply bg-primary text-white;
}

.btn-primary-active:hover {
    @apply border-primary border text-primary bg-transparent;
}

.default-bg {
    background-color: #F7F7F7;
}

.ant-btn-primary {
    background-color: var(--primary) !important;
    box-shadow: none;
}

.sec-title {
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

.sec-desc {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #898989;
    max-width: 653px;
}

@media screen and (max-width: 768px) {
    .sec-title {
        font-size: 28px;
    }

    .sec-desc {
        font-size: 14px;
    }
}

.image-upload .overlay {
    display: none;
}
.image-upload:hover .overlay {
    display: flex;
}

.ant-spin-fullscreen {
    background-color: black !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}